<div class="container">
  <div class="row">


    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">



    <!-- FORM  -->
    <div class="col-md-12">

      <form class="form-horizontal" id="form-edit-client">
        <fieldset>

          <!-- Form Name -->
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="client-name">Username: </label>
            <div class="col-md-4">
              <input [(ngModel)]="user.username" id="client-name" name="name" type="text" placeholder="New username"
                class="form-control input-md" [readonly]="isAdmin() || (currentUser.username !== username)" required>
              <span class="help-block">Username: <strong>{{username}}</strong></span>
            </div>
          </div>


          <!-- Button -->
          <div class="form-group" *ngIf="isAdmin() || (currentUser.username === username)">
            <label class="col-md-4 control-label" for="btn-save"></label>
            <div class="col-md-4">
              <button id="btn-save" name="btn-save" class="btn btn-success editBtn" (click)="editUsername()">Edit</button>
            </div>
          </div>

        </fieldset>
      </form>


    </div>

    <div class=col-md-12>

      <form id="form-list-client">
        <legend>List of Addresses</legend>

        <div class="pull-right">
          <a class="btn btn-default-btn-xs btn-success btnNew" href="/addAddress"><i class="glyphicon glyphicon-plus"></i> New</a>
        </div>
        <table *ngIf="address.length > 0" class="table table-bordered table-condensed table-hover">
          <thead>
            <tr>
              <td>Road</td>
              <th>Postal Code</th>
              <th>City</th>
              <th>Country</th>
            </tr>

          </thead>
          <tbody id="form-list-client-body">
            <tr *ngFor="let ad of address; let i = index">
              <td>{{ad.road}}</td>
              <td>{{ad.postalCode}}</td>
              <td>{{ad.city}}</td>
              <td>{{ad.country}}</td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="address.length === 0">List is empty</h4>
      </form>
    </div>

    <br> 




  </div>
</div>
